class Test_<# class.cleanname #>
{
    function test_sanity()
    {
        self.assert.is_true(1);
    }

    function test_new() {
        var obj = new <# class.winxedname #>();
        self.assert.not_null(obj);
        self.assert.instance_of(obj, class <# class.winxedname #>);
    }

<$ for method in class.methods $>
    function <# __KEY__ #>() {
        self.status.verify("default test for <# __KEY__ #>");
        var obj = new <# class.winxedname #>();
        var result = obj.<# __KEY__ #>();
    }
<$ endfor $>
}

function main[main]()
{
    load_bytecode("rosella/test.pbc");
    using Rosella.Test.test;
    test(class <# class.winxedname #>);
}
