<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Whiteknight/Rosella @ GitHub</title>
    <link href="/Rosella/stylesheets/rosella.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <a href="http://github.com/Whiteknight/Rosella">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
    </a>

    <div id="main-content-container">

        <div class="download">
            <a href="http://github.com/Whiteknight/Rosella/zipball/master">
                <img border="0" width="90" src="http://github.com/images/modules/download/zip.png">
            </a>
            <br/>
            <a href="http://github.com/Whiteknight/Rosella/tarball/master">
                <img border="0" width="90" src="http://github.com/images/modules/download/tar.png">
            </a>
        </div>
        <a href="http://github.com/Whiteknight/Rosella">
            <img src="/Rosella/images/RosellaTitle.png"></img>
        </a>
        <div class="description">
            A collection of tools and building blocks for the Parrot Virtual
            Machine.
        </div>
        <div class="libraries">
            Pages:
            <a href="/Rosella/index.html">Home</a> &ndash;
            <a href="/Rosella/libraries/future.html">Development</a> &ndash;
            <a href="/Rosella/articles/index.html">Articles and Examples</a> &ndash;
            <a href="/Rosella/winxed/index.html">Winxed</a>

            <div id="libraries-list-wrapper">
                <ul id="libraries-list">
                    <li><a href="/Rosella/libraries/action.html">Action</a></li>
                    <li><a href="/Rosella/libraries/container.html">Container</a></li>
                    <li><a href="/Rosella/libraries/core.html">Core</a></li>
                    <li><a href="/Rosella/libraries/event.html">Event</a></li>
                    <li><a href="/Rosella/libraries/filesystem.html">FileSystem</a></li>
                    <li><a href="/Rosella/libraries/harness.html">Harness</a></li>
                    <li><a href="/Rosella/libraries/memoize.html">Memoize</a></li>
                    <li><a href="/Rosella/libraries/mockobject.html">Mock Object</a></li>
                    <li><a href="/Rosella/libraries/path.html">Path</a></li>
                    <li><a href="/Rosella/libraries/proxy.html">Proxy</a></li>
                    <li><a href="/Rosella/libraries/query.html">Query</a></li>
                    <!--<li><a href="/Rosella/libraries/string.html">String</a></li>-->
                    <li><a href="/Rosella/libraries/test.html">Test</a></li>
                    <li><a href="/Rosella/libraries/winxed.html">Winxed</a></li>
                </ul>
            </div>
            <br/>
            <br/>
        </div>

        <h1>{{ page.title }}</h1>
        <div class="main-page-content">
        {{ content }}
        </div>
    </div>
</body>
</html>
